:root{
    --main--color: #FF9800;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans' , sans-serif;
}

.container{
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* start setting box*/

.setting-box{
    position: fixed;
    left: -250px;
    top: 0;
    background-color: #ffffff;
    width: 250px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.3s;
    border: 1px solid #eee;
}
.setting-box.open{
    left: 0;
}
.setting-box .toggle-setting{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.setting-box .toggle-setting .fa-gear{
    padding: 8px 0;
    width: 30px;
}
.setting-box .option-box{
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 20px;
}
.setting-box  .option-box h4{
    margin: 0;
    color: #666;
}
.setting-box  .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
}
.setting-box  .option-box .colors-list li{
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 0;
    border: 3px solid #eee;
}
.setting-box  .option-box .colors-list li.active{
    border-color: #fff;
}
.setting-box  .option-box .colors-list li:first-child{
    background-color: #FF9800;
}
.setting-box  .option-box .colors-list li:nth-child(2){
    background-color: #e91e63;
}
.setting-box  .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.setting-box  .option-box .colors-list li:nth-child(4){
    background-color: #03A9F4;
}
.setting-box  .option-box .colors-list li:nth-child(5){
    background-color: #4CAF50;
}

.setting-box  .option-box .yes ,
.setting-box  .option-box .no{
    width: 50px;
    background-color: var(--main--color);
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.setting-box  .option-box span.active{
    opacity: 1;
}
.setting-box .reset-options{
    background-color: #bd4f4f;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
/* end setting box*/

/* start nav bullets */

.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip{
    display: block;
}
.nav-bullets .bullet .tooltip{
    background-color: var(--main--color);
    padding: 4px 10px;
    color: #fff;
    right: 25px;
    top: -5px;
    width: 110px;
    position: absolute;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main--color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* end nav bullets */

/* start landing page  */
.landing-page{
    min-height: 100vh;
    background-image: url(../imgs/s.jpg);
    background-color: cover;
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.landing-page .container{
    position: relative;
    z-index: 1000;
} 

.header-area {
    z-index: 2;
    position: relative;
    color: white;
    display: flex;
    padding: 10px;
}

.header-area .logo {
width: 300px;
padding: 15px;
font-weight: bold;
}
.header-area .links-container{
    width: 100%;
    text-align: right;
}
.header-area .links{
    list-style: none;
    padding-left: 0;
}
.header-area .links li{
    display: inline-block;
    margin-left: 20px;
}

.header-area .links li a{
    color: white;
    text-decoration: none;
    transition: .3s;
}

.header-area .links li a:hover,
.header-area .links li a.active{
    color: var(--main--color);
}
.header-area .toggle-menu{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -10px;
}
.header-area .toggle-menu:focus{
    outline: none;
}
.header-area .toggle-menu span{
    display: block;
    background-color: #eee;
    height: 4px;
    margin-bottom: 4px;
}
.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 90%;
}

.introduction-text h1{
    font-size: 25px;
    margin: 0 0 12px;
}
@media (max-width: 575px){
    .introduction-text h1{
        font-size: 26px;
    }
}
.introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media (max-width: 575px){
    .introduction-text p{
        font-size: 15px;
    }
}
.introduction-text h1 span{
    color: var(--main--color);
}

@media (max-width : 991px) {
    .header-area .links{
        display: none;
    }
    .header-area .links.open{
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 5px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a{
        color: var(--main--color);
        font-weight: bold;
    }
    .header-area .toggle-menu{
        display: inline-block;
    }
}
/* end landing page  */

/*start about us*/
.about-us{
    padding-top:  50px;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width: 575px) {
    .about-us{
        display: block;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .about-us{
        display: block;
        text-align: center;
    }
    .about-us .info-box{
        padding: 0;
    }
}
.about-us .info-box{
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #5c5959;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 250px;
}
/*end about us*/

/*start our skills*/
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50;
}

.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px ;
}
/* @media (max-width: 767px) {
    .skills .skill-box{
        display: block;
    }
    .skills .skill-box .skill-name{
        width: 100%;
        margin-bottom: 15px;
    }
} */

.skills .skill-box .skill-name{
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
.skills .skill-box .skill-progress{
    height: 30px;
    width: calc(100% - 110px);
    background-color: #F6F6F6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main--color);
    transition: all .2s;
}
/*end our skills*/

/*start galllery*/
.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.gallery h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
}
.gallery .images-box{
    text-align: center;
}
.gallery .images-box img{
    width: 200px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main--color);
}
.closebutton{
    position: absolute;
    top: -15px;
    right: -15px;
    background: var(--main--color);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #FFf;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial , Tahoma;
    border-radius: 50%;
}
.popup-box img{
    max-width: 100%;
}
/*end galllery*/

/* start time line */
.time-line{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.time-line .timeline-content{
    position: relative;
    overflow: hidden;
}
.time-line .timeline-content::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline-content .left,
.timeline-content .right{
    width: calc(50% - 15px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width : 767px){
    .time-line .timeline-content .left,
    .time-line .timeline-content .right{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width : 767px){
    .time-line .timeline-content .left::before,
    .time-line .timeline-content .right::before{
        display: none;
    }
}


.time-line .timeline-content .left{
    float: left;
}
.time-line .timeline-content .left::before{
    right: -25px;
}
.time-line .timeline-content .right{
    float: right;
}

.time-line .timeline-content .right::before{
    left: -25px;
}

.time-line .timeline-content .right::before,
.time-line .timeline-content .left::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main--color);
    position: absolute;
    border-radius: 50%;
    top: 15px;
}


.time-line .timeline-content .content{
    padding: 20px;
    background-color: #fff;
}

.time-line .timeline-content .content h3{
    font-weight: bold;
    font-size: 20px;
    color: var(--main--color);
    margin: 0 0 10px;
}
.time-line .timeline-content .content p{
    line-height: 1.5;
    color: #666;
    margin: 0;
}
.clearfix{
    clear: both;
}
.time-line .timeline-content .left .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main--color);
    height: 0;
    width: 0;
    position: absolute;
    right: -17px;
    top: 17px;
}
@media (max-width : 767px) {
    .time-line .timeline-content .left .content::before,
    .time-line .timeline-content .right .content::before{
        display: none;
    }
}
.time-line .timeline-content .right .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent var(--main--color) transparent transparent ;
    height: 0;
    width: 0;
    position: absolute;
    left: -17px;
    top: 17px;
}
/* end time line */

/* start features */
.features{
    padding-top: 80px;
    padding-bottom:  80px; ;
}
.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 60px;
}
.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width : 991px){
    .features .feat-box{
        width: calc(100% / 2);
    }
}
@media (max-width : 575px){
    .features .feat-box{
        width: 100%;
    }
}
.features .feat-box img{
    width: 250px;
}

.features .feat-box h4{
    font-size: 20px;
    margin: 15px 0 50px;
    position: relative;
}
.features .feat-box h4::before{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -20px;
}
.features .feat-box p{
    line-height: 1.5;
    color: #666;
    width: 80%;
    margin: 0 auto;
}
/* end features */

/* start testimonials */
.testimonials{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before{
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
}
.testimonials::after{
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-align: left;
    margin: 0 0 60px;
    position: relative;
    z-index: 2;
}
@media (max-width : 767px) {
    .testimonials h2{
        text-align: center;
    }
}
.testimonials .ts-box{
    position: relative;
    z-index: 2;
    width: calc(98% /3 );
    float: left;
    background-color: #fff;
    padding: 20px;
}
@media(max-width : 767px){
    .testimonials .ts-box{
        width: 100%;
        margin-bottom: 15px;
        float: none;
    }
}
.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
}
.testimonials .ts-box > p{
    margin: 0 0 15px;
    line-height: 1.5;
    font-size: 17px;
    color: #777;
    font-style: italic;
}
.testimonials .ts-box .person-info{
    overflow: hidden;
}
@media(max-width : 991px){
    .testimonials .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img{
    float: left;
    border-radius: 50%;
    width: 30%;
    margin-right: 20px;
}
@media(max-width : 991px){
    .testimonials .ts-box .person-info img{
        float: none;
        margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4{
    margin: 30px 0 10px;
}
.testimonials .ts-box .person-info  p{
    color: #777;
    margin: 0;
}
/* end testimonials */

/* start contact us  */
.contact{
    min-height: 800px;
    background-image: url("../imgs/wor.jpg");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
@media(max-width : 767px){
    .contact form .right,
    .contact form .left{
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main--color);
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #fff;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input[type="submit"]::placeholder{
    opacity: 0;
    transition: .3s;
}
/* end contact us  */
/* START footer */
.footer{
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 20px;
}
/* END footer */
/* start grid system */
@media (min-width: 576px) {  /*small devices*/
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {  /*medium devices*/
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px) {  /*desktop devices*/
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {  /*large screens*/
    .container{
        max-width: 1140px;
    }
}

/* end grid system */
